@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Lato&family=Poppins&display=swap');

* {
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  height: 35px;
  padding: 5px;
}

/*header .navB {
  justify-content: flex-end;
  list-style: none;
  font-family: Lato, sans-serif;
  font-size: 10px;
}*/

header .navB ul {
  display: none;
  flex-direction: row;
}

.header-1 li img .burger {
  justify-content: flex-start;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 12px;
  float: left;
}

.main-tittle {
  display: flex;
  flex-direction: column;
  background-image: url('./images/speakers/coby-flyer.jpg');
  background-size: cover;
}

.main .main-img {
  background-size: cover;
}
